.nav{
    grid-area: n ;
    background-color: var(--color-left-menu);
    padding: 30px;
    width: 250px;

}

.item a {
    color: var(--white-color);
    text-decoration: none;
}

.item:not(:last-child) {
    margin: 0 0 20px 0;
}

.item a:hover {
    color: var(--text-day-theme);
    transition: color .3s ease-in-out;
}

/*.item a.active {*/
/*    color: var(--gold-color );*/
/*}*/

.item :global(a.active) {
    color: var(--gold-color );
}

.friends {
    display: flex;
    width: 200px;
    height: 150px;
   flex-wrap: wrap;
    overflow: scroll;
}